/* .container {
  width: 890px;
} */

#graphic {
  padding-top: 60px;
}


#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}

.step {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}

body {
    background-color: #F3EDDA
}

p {
    font-family: 'Open Sans', sans-serif;
    color:#767678;
    font-weight:300;
  }

h1 {
    text-align: center;
    font-size:70px;
    font-weight:250;
    line-height:1.3;
  
  }

#title {
    position: relative;
    padding-top: 30%;
    transition: opacity 0.8s;
    -webkit-transition: opacity 0.8s;
}

/* #vis .title .exp-title{
  font-size:15px;
  color:black;
  text-anchor: start;
} */

#vis .title.exp-title, .title.food-title{
  font-family: Arial,Helvetica,"san-serif";
  font-weight: bold;

  font-size:16px;
  color:black;
  text-anchor: start;
}

#vis .sub-title.exp-title, .sub-title.food-title{
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size:14px;
    color:#767678;
    text-anchor: start;
  }

#vis .bar-text text {
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size:16px;
    color:#767678;
    text-anchor: start;
    z-index: 1;

  }


.xAxis path,
.xAxis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
.yAxis path,
.yAxis line {
    display: none;
    fill: none;
    stroke: #666;
    shape-rendering: crispEdges;
  }

#vis .yAxis text {
    font-size: 20px;
    color: white !important;
}
